


.movielayout {
  display: flex;
  flex-direction: column;
  gap:4em;
  padding-left: 2em;
  padding-right:0.25em;
}



  

@media (min-width: 1080px) {
  .movielayout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4em;
    overflow: hidden;
    padding-left: 3em;
  }
}
 .search{
  display: flex;
  margin: 0 auto;
  max-width: 100%;
  justify-content: center;
}

.ip{
  justify-content: center;
  border: none;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.5em;
  font-style: normal;
  outline: none;
  color: #a1a1a1;
  background: #1f2123;
}

.imgi{
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.notfound {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound h2 {
  font-size: 1.25em;
  color: #f9d3b4;
  text-align: center;
}